<html>
<head>
	<title>Watch Dog</Title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<link rel="shortcut icon" href="{{url_for('static',filename='img/logo.png')}}"/>	
</head>
<body>
	<nav class="navbar navbar-main">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="{{ url_for('home') }}"><img src="{{url_for('static',filename='img/watchdog.png')}}" alt="watchdog"  style="height: 50px; margin-right: 15px; border-radius: 5px;"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a class="navbar-text-active" href="{{ url_for('home') }}">Home</a></li>
				<li><a class="navbar-text" href="{{ url_for('watchlist_watch_list') }}">Watch List</a></li>
				<li><a class="navbar-text" href="{{ url_for('portfolios') }}">Portfolios</a></li>
				<li><a class="navbar-text" href="{{ url_for('news') }}">News</a></li>
				<li><a class="navbar-text" href="{{ url_for('settings') }}">Settings</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="{{ url_for('stock_results_stock_search') }}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search for Stocks" name="stock_search"> 
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>
		</div>
	</nav>
	
	<!-- This function ensures that the user enters a distinct name for new portfolio-->
	<script>
		const check = (e) => {
			var xhr = new XMLHttpRequest();
			const form = new FormData(e.target);
			const name = form.get("name");
			xhr.open("GET", "http://localhost:5000/portfolios/check-name?name=" + name, true);
			xhr.responseType = "JSON";
			xhr.onload = function(e) 
			{
				var arrOfStrings = JSON.parse(xhr.response);
				if (arrOfStrings != "False") 
				{
					alert("Please enter a unique portfolio name. Portfolios are case-sensitive.")
					return false
				}
			}
			
			xhr.send();
			return true
		};
	</script>

	<div style="margin-left: 10%; height: 100px;">
		<h1>Portfolios</h1>
	

		<table class="port-table">
			<tr>
				<th style="padding:5px;">Portfolio Name</th>
				<td>Profit/Loss</td>
				<td>Total Value</td>
			</tr>
	{% for key, val in p.items() %}
			<tr>
				<th>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle tabled-button" type="button" data-toggle="dropdown">{{val[-1]}}
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><form style="margin:0px;"><button class="dropdown-item" type = "submit" formmethod="get" formaction="{{ url_for('portfolios_portfolio_id', portfolio_id = key)}}">View</button></form></li>
							<li><a class="dropdown-item" href="{{ url_for('portfolios_download', portfolio = key) }}">Export this Portfolio</a></li>
							<li><form style="margin:0px;"><button class="dropdown-item" type = "submit" formmethod="post" formaction="{{ url_for('portfolios', delete = 'portfolio', portfolio = key)}}">Delete Portfolio</button></form></li>
						</ul>
					</div>
				</th>
				<td>${{val[-3]}}</td>
				<td>${{val[-2]}}</td>
			<tr>
			
	{% else %}
		<p>Create a portfolio to get started!</p>		
	{% endfor %}
	</table>
	<div>
		<form action="{{url_for('portfolios')}}" method="post" enctype="multipart/form-data" onsubmit="return check(event)">
			<h2>Create Portfolio</h2>
			<label for="name">Name:</label>
			<input class="form-control str-input" type="text" id="name" name="name" placeholder="My New Portfolio" required></input>
			<button class="btn btn-primary" type="submit">Create</button>
		</form>
		<p>or</p><form><button class="btn btn-primary" type = "submit" formmethod="post" formaction="{{ url_for('portfolios', import_portfolio = 1)}}">Import Portfolio</button></form>
	</div>

</body>
</html>