<html>
<head>
	<title>Watch Dog</Title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<link rel="shortcut icon" href="{{url_for('static',filename='img/logo.png')}}"/>
	<script src="{{url_for('static', filename='slide.js')}}"></script>
</head>
<!-- slide show elements are 'display: none;' until activated by slides.js --> 
<body onload="showSlides(1); showSlide(1);">
	
	<nav class="navbar navbar-main">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="{{ url_for('home') }}"><img src="{{url_for('static',filename='img/watchdog.png')}}" alt="watchdog"  style="height: 50px; margin-right: 15px; border-radius: 5px;"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a class="navbar-text-active" href="{{ url_for('home') }}">Home</a></li>
				<li><a class="navbar-text" href="{{ url_for('watchlist_watch_list') }}">Watch List</a></li>
				<li><a class="navbar-text" href="{{ url_for('portfolios') }}">Portfolios</a></li>
				<li><a class="navbar-text" href="{{ url_for('news') }}">News</a></li>
				<li><a class="navbar-text" href="{{ url_for('settings') }}">Settings</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="{{ url_for('stock_results_stock_search') }}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search for Stocks" name="stock_search"> 
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>
		</div>
	</nav>
<body>
    <div style="margin-left: 10%;">
        <h1>Email Settings</h1>
        <form action="/settings" method = "POST">
            <input type="checkbox" id="take_email" name="take_email" value="true">
            <input type="hidden" id="take_email_hidden" name="take_email" value="false">
            <label for="take_email">Take Profit Email</label><br>
            <label for="stock_take">Stock:</label><br>
            <input type="text" id="stock_take" name="stock_take"><br>
            <label for="price">Stock Price:</label><br>
            <input type="number" step="any" id="price_take" name="price_take">
            <br><br>
            <input type="checkbox" id="stop_email" name="stop_email" value="true">
            <input type="hidden" id="stop_email_hidden" name="stop_email" value="false">
            <label for="stop_email">Stop Loss Email</label><br>
            <label for="stock_stop">Stock:</label><br>
            <input type="text" id="stock_stop" name="stock_stop"><br>
            <label for="price_stop">Stock Price:</label><br>
            <input type="number" step="any" id="price_stop" name="price_stop">
            <br><br>

            <input type="checkbox" id="percent_email" name="percent_email" value="true">
            <input type="hidden" id="percent_email_hidden" name="percent_email" value="false">
            <label for="percent_email">Percent Change Email</label><br>

            <label for="stock_percent">Stock:</label><br>
            <input type="text" id="stock_percent" name="stock_percent"><br>

            <label for="threshhold_percent">% Change Threshhold</label><br>
            <input type="number" step="any" id="threshhold_percent" name="threshhold_percent"><br>

            <label for="price_percent">Purchase Price</label><br>
            <input type="number" step="any" id="price_percent" name="price_percent"><br>
            <br>

            <input type="checkbox" id="summary_email" name="summary_email" value="true">
            <input type="hidden" id="summary_email_hidden_hidden" name="summary_email" value="false">
            <label for="summary_email">Market Summary Email</label>
            <br><br>

            <button class="btn btn-primary" type="submit">Subscribe</button>
            <br><br>

            <a onclick="unsubscribe_alert()" class="btn btn-primary" href="{{ url_for('unsubscribe') }}">Unsubscribe From ALL Email Alerts</a>
        </form>
    </div>
    
</body>
</html>

<script>
    function unsubscribe_alert(){
        confirm("Are you sure you want to unsubscribe from all email alerts?");
    }
</script>